<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    
    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}
    
    <script async defer data-domain="otakuview.com" src="https://plausible.otakuview.com/js/index.js"></script>
    
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="bg-gofun">
    <header>
        <div id="header-wrapper" class="container w-full md:max-w-6xl mx-auto bg-gray-200">
            <a href="{{ config.base_url }}"><h1 class="font-ovLogo text-6xl text-center p-4">Otaku View</h1></a>
        </div>
    </header>
    {% block content %}
    <!--Container-->    
    <div id="content-wrapper" class="container w-full md:max-w-6xl mx-auto pt-10">
        <div class="flex flex-wrap items-stretch -mb-4">
            {% for page in section.pages %}
            <div class="content-item w-full md:w-1/2 bg-gray-400 p-8 text-white" {% if page.extra.featured_image %}style = "background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{ config.base_url }}{{ page.extra.featured_image }}); background-size: cover;"{% endif %}>
                <div class="post flex flex-col h-full">
                    <h1 class="post-title text-4xl text-center justify-center bg-nibi p-2">
                        <a href="{{ page.permalink }}">
                            {{ page.title }}
                        </a>
                    </h1>
                    <div class="flex-grow">
                        {% if page.summary %}
                        <div class="h-full flex justify-center items-center">
                            <span class="font-bold text-shadow text-justify text-lg max-w-md">{{ page.summary | safe | striptags }}</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="object-none object-right-bottom text-right">
                        <span class="post-date bg-nibi p-2">
                            {{ page.date | date(format="%Y-%m-%d") }}
                        </span>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}

    <footer class="container w-full md:max-w-6xl mx-auto pt-10 pb-10 text-gray-700 body-font text-center">
        © 2020 William Chambers
    </footer>
</body>
</html>