<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    
    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}
    
    <script async defer data-domain="otakuview.com" src="https://plausible.otakuview.com/js/index.js"></script>
    
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="bg-nezumi text-gofun">
    <header>
        <div id="header-wrapper" class="container w-full md:max-w-6xl mx-auto bg-nibi rounded-b-lg">
            <a href="{{ config.base_url }}"><h1 class="font-ovLogo text-gofun text-6xl text-center p-4"><span class="text-ninjin">O</span>taku <span class="text-yanagi">V</span>iew</h1></a>
        </div>
    </header>
    {% block content %}
    <!--Container-->    
    <div id="content-wrapper" class="container w-full md:max-w-6xl mx-auto pt-10">
        <div class="flex flex-wrap items-stretch">
            {% for page in section.pages %}
            <div class="content-item w-full md:w-1/2 p-8" {% if page.extra.featured_image %}style = "background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{ config.base_url }}{{ page.extra.featured_image }}); background-size: cover;"{% endif %}>
                <div class="max-w-xl mx-auto bg-haijiro overflow-hidden shadow-md rounded-lg">
                    <div class="p-6">
                        <div>
                            <span class="text-blue-600 text-xs font-medium uppercase">Tag</span>
                            <a href="{{ page.permalink }}" class="block text-nibi font-bold text-2xl mt-2 hover:text-gray-600 hover:underline">{{ page.title }}</a>
                            {% if page.summary %}
                            <p class="text-sm font-semibold text-shadow text-justify text-nezumi mt-2">{{ page.summary | safe | striptags }}</p>
                            {% endif %}
                        </div>
                        
                        <div class="mt-4">
                            <div class="flex items-center">
                                {% if page.extra.author %}
                                <div class="flex s">
                                    <p class="mx-2 text-gray-700 font-semibold">{{ page.extra.author }}</p>
                                </div>
                                {% endif %}
                                <span class="mx-1 text-gray-600 text-xs">{{ page.date | date(format="%e %B %Y") }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="flex pt-8 justify-center items-center">
            <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-500 rounded-md cursor-not-allowed">
                previous
            </a>
            
            <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 hover:bg-indigo-600 hover:text-white rounded-md">
                1
            </a>
            
            <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 hover:bg-indigo-600 hover:text-white rounded-md">
                2
            </a>
            
            <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 hover:bg-indigo-600 hover:text-white rounded-md">
                3
            </a>
            
            <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 hover:bg-indigo-600 hover:text-white rounded-md">
                Next
            </a>
        </div>
    </div>
    {% endblock content %}
    
    <footer class="container w-full md:max-w-6xl mx-auto pt-10 pb-10 body-font text-center">
        © 2020 William Chambers
    </footer>
</body>
</html>